
	
	<style>
  .nav-wrapper,.page-footer{
    background-color: #003F72 !important;
  }


  .parallax-container {
       height: 350px;
       border-top: 2px solid rgb(209, 140, 63);
       border-bottom: 2px solid rgb(123, 26, 35);
  }
  .slider{
  	height: 600px !important;
  }
  .slides{
  	height: 600px !important;
  }
  .vision{
  	background-color: #F0F2F4
  }
  #logoFisica{
  	background-color: transparent;
  }

  h5{
    font-size: 1.2rem !important;
  }

  .nav_insti{
    background-color: #00437A !important;
    height:  75px !important;
    border-bottom: 3px solid #D18C3F;
    border-top: 2px solid #8E1315;
  }
  .foor_pro{
     margin-top: 0px;
    background-color: #00437A !important;
    border-bottom: 3px solid #D18C3F;
    border-top: 5px solid rgba(142, 19, 21, 0.86);
  }
  .back{
      height: 85px;
  }


  hr{
      border: 1px solid rgba(206, 138, 62, 0.42);
    width: 800px;
  }