
	
	
  .nav-wrapper,.page-footer{
    background-color: #003F72 !important;
  }


  .parallax-container {
       height: 350px;
       border-top: 2px solid rgb(209, 140, 63);
       border-bottom: 2px solid rgb(123, 26, 35);
  }
  .slider{
  	height: 600px !important;
  }
  .slides{
  	height: 600px !important;
  }
  .vision{
  	background-color: #F0F2F4
  }
  #logoFisica{
  	background-color: transparent;
  }

  h5{
    font-size: 1.2rem !important;
  }

  .nav_insti{
    background-color: #00437A !important;
    height:  75px !important;
    border-bottom: 3px solid #D18C3F;
    border-top: 2px solid #8E1315;
  }
  .foor_pro{
     margin-top: 0px;
    background-color: #00437A !important;
    border-bottom: 3px solid #D18C3F;
    border-top: 5px solid rgba(142, 19, 21, 0.86);
  }
  .back{
      height: 85px;
  }


  hr{
      border: 1px solid rgba(206, 138, 62, 0.42);
    width: 800px;
  }

  .nav_bold{
    font-weight: bold;
  }


  /* begin style notice */

    #pinBoot {
        position: relative;
        max-width: 100%;
        width: 100%;
      }
      #img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
      .white-panel {
        position: absolute;
        background: white;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
        padding: 10px;
      }
      
      .white-panel h1 {
        font-size: 1em;
      }
      .white-panel h1 a {
        color: #A92733;
      }
      .white-panel:hover {
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
        margin-top: -5px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }

      /* end style notice */

      /** begin style contact */
    .contenedor {
      border-radius: 25px;
      border: 2px solid #9E9E9E;

    }
    .formulario {
      margin: auto;
      width: 70%; /* probá una medida en px si querés */
      padding-bottom: 20px;
      padding-top: 20px;
    }
