{% extends "home.html" %}

{% load staticfiles %}

{% block extracss %}
{% endblock %}

{% block content %}
<div class="row" style="  margin-top: 2%;">
	
</div>
 <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-files-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{material}}</div>
                                    <div>Mis Materiales</div>
                                </div>
                            </div>
                        </div>
                        <a href="/docentes/material/">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Detalles</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-calendar  fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{evento}}</div>
                                    <div>Eventos</div>
                                </div>
                            </div>
                        </div>
                        <a href="/docentes/eventos/">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Detalles</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-globe fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{noticia}}</div>
                                    <div>Noticias</div>
                                </div>
                            </div>
                        </div>
                        <a href="/docentes/noticias/">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Detalles</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
               
            </div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-university fa-fw"></i> Bienvenido 
            </div>
            <div class="panel-body">
              <div class="jumbotron">
                      <h1 style="  text-transform: capitalize;">Bienvenido {{request.user}}</h1>
                      <p>Este es tu modulo docente , aqui encontraras todo lo que necesitas para subir tus materiales y gestionar noticias y eventos a cerca del programa el cual llevas a cabo dentro del área de física</p>
                     
                  </div>
            </div>
          
        </div>
    </div>
</div>
{% endblock %}


{% block extrajs %}
 
{% endblock %}
