<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">

    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/icon.css" %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/styles.css" %}"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block extracss  %}

    {% endblock %}

    <title>
      {% block title  %}
       
      {% endblock %}
    </title>
    <!--
     _   _          _____ _           _ _            __ _
    | |_| |__   ___|___ /| |__   __ _| | |___  ___  / _| |_
    | __| '_ \ / _ \ |_ \| '_ \ / _` | | / __|/ _ \| |_| __|
    | |_| | | |  __/___) | |_) | (_| | | \__ \ (_) |  _| |_
     \__|_| |_|\___|____/|_.__/ \__,_|_|_|___/\___/|_|  \__|

      © 2015 | Desarrollado por The3Ballsoft

    -->
  </head>

  <body>
    <!--/****** Header  *********/-->
    {% block header %}
    <header>
    
            <ul id="dropdown1" class="dropdown-content" >
                <li><a href="fisicaMecanica.html">Fisica Mecánica</a></li>
                <li><a href="fisicaCalor.html">Calor & Ondas</a></li>
                <li><a href="fisicaElectricidad.html">Electricidad y Magnetismo</a></li> 
              <li class="divider"></li>
              
            </ul>
            <nav class="nav_insti z-depth-2">
              <div class="nav-wrapper" style="  line-height: 100px !important;">
                <a href="#!" class="brand-logo" style="  line-height: 153px;"><img src="{% static "images/logo.png" %}" width="43%" height="43%" > </a>
               
              <!--   <a href="#!" class="brand-logo" style="  line-height: 153px;left: 0;
                   position: relative;"><img src="{% static "images/fisica.jpeg" %}" width="18.5%" height="18.5%" > </a>
                -->
               <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                  <li class="back" ><a href="index.html">Inicio</a></li>
                  <li class="back"><a data-target="modal1" class="modal-trigger">Noticias</a></li>
                  <li class="back"><a href="contacto.html">Programas</a></li>
                  <li class="back"><a href="contacto.html">Docentes</a></li>
                  <li class="back"><a href="contacto.html">Eventos</a></li>
                  <li class="back"><a href="contacto.html">Contactenos</a></li>
                  
                </ul>
                
              </div>
            </nav>
            <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>

    </header>


    {% endblock %}
    <!--/****** end Header *********/-->

    <!--/****** Main Content *********/-->
    {% block content %}
    <!-- MODAL -->
  
    {% endblock %}
    <!--/****** end Content *********/-->
  
    <!--/****** Footer *********/-->
    {% block footer %}
      <footer class="page-footer foor_pro" style="">
          <div class="container">
            <div class="row">
              <div class="col l4" align="left">
                <h5 class="white-text">Informacion institucional</h5>
                <div align="left">
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">- Universidad del magdalena</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">- Admisiones, registro y control</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">- Bienestar universitario</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">- Facultad de ingenieria</a></li>
                </ul>
                </div>
              </div>
               <div class="col l4" align="left">
                <h5 class="white-text">Mapa del sitio</h5>
                <div align="left">
              <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Quienes somos ?</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Noticias </a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Foro</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Galeria</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
                </ul>
                </div>
              </div>

              <div class="col l4">
               <img src="{% static "images/calidad.png" %}" alt="" class="">
                <h5 class="white-text">Nuestras redes sociales</h5>
                <ul class="social-btns">
                    <a href="#!"><img src="{% static "images/Social/facebook.png" %}" alt="" class="z-depth-2" width="45px"></a>
                    <a href="#!"><img src="{% static "images/Social/Youtube.png" %}" alt="" class="z-depth-2"  width="45px"></a>
                    <a href="#!"><img src="{% static "images/Social/twitter.png" %}" alt="" class="z-depth-2"  width="45px"></a>
                    <a href="#!"><img src="{% static "images/Social/instagram.png" %}" alt="" class="z-depth-2"  width="45px"></a>
                    <a href="#!"><img src="{% static "images/Social/googleplus.png" %}" alt="" class="z-depth-2"  width="45px"></a>
                  </ul> 

              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
           <div class="ftr-text" style="text-align: center; font-size: 11px;">
          <strong><strong>Universidad del Magdalena</strong> | PBX: (57 - 5) 4217940| Dirección: Carrera 32 No 22 - 08 | Santa Marta D.T.C.H. - Colombia - Suramérica 
          </strong></div></div>
 
        </footer>
    {% endblock %}
    <!--/****** end Footer *********/-->

    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>

    <!--/****** extrajs *********/-->
    {% block extrajs  %}
    <script>
    $(document).ready(function(){
        $('.parallax').parallax();
    });
    $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal();
    });
    $(document).ready(function(){
        $('.slider').slider({full_width: true});
        $('.slider').slider({indicators:false});
      });
        
    </script>
    {% endblock %}
    <!--/****** extrajs *********/-->

  </body>
</html>
