{% extends "base.html" %}

{% load staticfiles %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static "css/robot.css"%}">


{% endblock %}

{% block content %}
 <div class="container" style="padding-top: 40px;">
 	<div class="row">
 		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem sequi, placeat deserunt ipsum inventore maxime. Magni, excepturi iusto culpa eum consequuntur temporibus aspernatur delectus impedit sed laudantium voluptate error provident.+
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quaerat, eius nisi nam ad facilis iure pariatur unde dignissimos fuga expedita ipsa obcaecati voluptates laudantium hic sit earum doloremque! Facere!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga magni impedit expedita officia, in laboriosam necessitatibus, tempore nesciunt ea commodi nulla sunt. Rem cum repellat quibusdam perspiciatis, maxime officiis reiciendis.
 	</div>
 </div>
      
{% endblock %}

{% block extrajs %}

{% endblock %}
