<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Unimag</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>
	.nav-wrapper,.page-footer{
		background-color: #003F72 !important;
	}
	</style>
</head>
<body>
<header>
		
			
				<ul id="dropdown1" class="dropdown-content">
						  	<li><a href="fisicaMecanica.html">Fisica Mecánica</a></li>
						    <li><a href="#">Calor & Ondas</a></li>
						    <li><a href="#">Electricidad y Magnetismo</a></li> 
						  <li class="divider"></li>
						  
						</ul>
						<nav>
						  <div class="nav-wrapper">
						    <a href="#!" class="brand-logo">Logo<!-- <img src="img/unimag.png" width="50%" height="50%"> --></a>
						   <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
						    <ul class="right hide-on-med-and-down">
						      <li><a href="index.html">Inicio</a></li>
						      <li><a href="index.html">Mision</a></li>
						      <li><a href="index.html">Vision</a></li>
						      

						     <!-- Dropdown Trigger -->
						      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Cursos<i class="material-icons right">arrow_drop_down</i></a></li>
						      <li><a data-target="modal1" class="modal-trigger">Foro</a></li>
						      <li><a href="contacto.html">Contacto</a></li>
						      
						    </ul>
						    
						  </div>
						</nav>
					
		
</header>
	<div id="modal1" class="modal">
	    <div class="modal-content">
	      <h4>Modal Header</h4>
	      <p>A bunch of text</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
	    </div>
  	</div>
	<div class="container">
		<div class="row">
			
		  
		  	<div class="col s6">
		  		 <section>
		   		 <h5>Formulario de contacto</h5>
		   		 	<form class="col s12">
		   		 		<div class="col s12 collection">
				      <div class="row">
				        <div class="input-field col s12">
				          <input  id="Nombre" type="text" class="validate">
				          <label for="Nombre">Nombre *</label>
				        </div>
				       
				      </div>
				      <div class="row">
				      	 <div class="input-field col s12">
				          <input id="email" type="email" class="validate">
				          <label for="email">Email *</label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s12">
				          <input  id="asunto" type="text" class="validate">
				          <label for="asunto">Asunto *</label>
				        </div>
				      </div>
				      <div class="row">
				         <div class="input-field col s12">
				          <textarea id="textarea1" class="materialize-textarea"></textarea>
				          <label for="textarea1">Mensaje *</label>
				        </div>
				      </div>
				     </div>
				       <button class="btn waves-effect waves-light center-align" type="submit" name="action">Enviar email
					    <i class="material-icons right">send</i>
					  </button>
				    </form>
		   		 
		   		</section>
		  
		  
		  	</div>
		  	<div class="col s6">
		  		<h5>Mapa del sitio</h5>

		  	</div>
		</div>
	</div>

	<!-- Formulario -->
	

	<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
        
	


	<script src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>	
</body>
</html>