{% extends "base.html" %}

{% load staticfiles %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static "css/robot.css"%}">
<style>
	#map{
		margin-left: 50px;
	}
</style>


{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col s6">
			<h2 class="flow-text">Formulario de contacto</h2>
			 <div class="contenedor" style="background-color: #fff">
			 	<div class="formulario" >
		   		  	<form method="post">
					    {% csrf_token %}
					    {{ form }}
					    <button  class="btn waves-effect waves-light center-align" type="submit" name="action">Enviar email
					    <i class="material-icons right">send</i>
					  </button>
					</form>
			 	</div>
			 </div>	
		</div>		
		<div class="col s6" >
			<h2 class="flow-text">Localización</h2>
			<div id="map">
				
			</div>
		</div>
	</div>
</div>

		  
      
{% endblock %}

{% block extrajs %}
<script src="{% static "js/gmaps.min.js"%}"></script>
<script>

url = GMaps.staticMapURL({
  size: [500, 300],
  lat: 11.224306,
  lng: -74.186634,
  markers: [
    {lat: 11.224306, lng:  -74.186634},
    {lat: -12.045333, lng: -77.034,
      size: 'small'},
    {lat: -12.045633, lng: -77.022,
      color: 'blue'}
  ]
});

$('<img/>').attr('src', url)
  .appendTo('#map');
</script>
{% endblock %}
