{% extends "base.html" %}

{% load staticfiles %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static "css/robot.css"%}">


{% endblock %}

{% block content %}
<div class="container" style="margin-top: 14px;">
 <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a class="active" href="#test1">Mecanica</a></li>
        <li class="tab col s4"><a  href="#test2">Calor y ondas</a></li>
        <li class="tab col s4"><a href="#test4">Electricidad y magnetismo</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">Mecanica</div>
    <div id="test2" class="col s12">Calor y ondas</div>
    <div id="test4" class="col s12">Electricidad</div>
  </div>
</div>
        
      
{% endblock %}

{% block extrajs %}

{% endblock %}
