{% extends "base.html" %}

{% load staticfiles %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static "css/robot.css"%}">
{% endblock %}

{% block content %}



<section class="firtsSection" style="border-top: 2px solid rgb(203, 136, 61);">
	<div class="container">
		<div class="row">
      <div class="col s8">
				<h2 style="font-family: sans-serif; color:#0E5690;font-size:47px;">Fisica Mecanica</h2>
				<p class="flow-text" style="text-align:justify;font-size:21px;">
					En este curso se  desarrolla la mecánica, (cinemática, dinámica y conservación de la energía mecánica), de traslación y de rotación de cuerpos rígidos. Se hace énfasis en la aplicación de estos conceptos en la solución de problemas prácticos y de situaciones de la cotidianidad y en la formación de habilidades relacionadas con el trabajo experimental. Se espera que los alumnos construyan significados de estos los conceptos y desarrollen habilidades procedimentales con el trabajo práctico que les permita su desempeño en los cursos posteriores.
				</p>
			</div>
			<div class="col s4">
				<img src="{% static "img/meca.gif"%}"  style="WIDTH: 495PX;HEIGHT: 300PX;top: 100px;position: relative; border-radius: 4px;"alt="">
			</div>
			
		</div>
		<hr>
	</div>
</section>
<section class="secondSection" >
	<div class="container" >
		<div class="row">
			<div class="col s4" style="border-stylus: solid">
				<img src="{% static "img/calor.gif"%}" style="position: relative;
  left: -105px;
  top: 100px;" alt="">
			</div>
			<div class="col s8">
				<h2 style="font-family: sans-serif; color:#0E5690; font-size:47px;">Calor & Ondas</h2>
				<p class="flow-text" style="text-align:justify; font-size:21px;">La presencia de esta asignatura en el plan de estudio de todos los programas de ingeniería se justifica porque contribuye la formación de competencias básicas: cognitivas, procedimentales y actitudinales que los alumnos requieren para la comprensión de algunas asignaturas del área profesional; competencias de tipo personal relacionadas con la ética, y competencias de tipo interpersonal relacionadas con la comunicación y el trabajo en equipo.</p>
			</div>
			
		</div>
		<hr>
	</div>



</section>
<section class="thirdSection" style="">
	<div class="container">
		<div class="row">
			<div class="col s8">
				<h2 style="font-family: sans-serif; color:#0E5690;font-size:47px;">Electricidad y Magnetismo</h2>
				<p class="flow-text" style="text-align:justify; font-size:21px;">Este es un curso teórico-práctico de nivel básico y se desarrolla en dos partes.  La primera parte comprende el estudio del campo electrostático, el potencial eléctrico, la corriente eléctrica y los circuitos C. D. La segunda parte comprende el estudio del campo magnético, sus fuentes, la inducción electromagnética y la inductancia y el circuito R-L y la energía magnética. Cada unidad incluye experiencias de laboratorio realizada por los estudiantes  y experiencias de carácter demostrativo realizada por el profesor.</p>
			</div>
			<div class="col s4">
				<img src="{% static "img/ele.jpg"%}" style="  position: relative;
  left: 50px;
  top: 60px;" alt="">
			</div>
			
		</div>
		<hr>
	</div>
</section>


      
{% endblock %}

{% block extrajs %}

{% endblock %}
