{% extends "base.html" %}

{% load staticfiles %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static "css/robot.css"%}">


{% endblock %}

{% block content %}
<div class="container">
  
  <div class="row">
        {% if  eventos %}
        		{% for evento in eventos %}
                  <div class="col s6 ">
                    <h4 class="light"></h4>
                    <div class="card large">
                      <div class="card-image">
                        <img src="{{ evento.imagen.url }}">
                        <span class="card-title" style=" width:100%; background-color: rgba(5, 5, 5, 0.54);font-weight: bold;color: white;" class="center-align">{{evento.titulo}}</span>
                      </div>
                      <div class="card-content">
                        <p>{% autoescape off %}{{ evento.descripcion }}{% endautoescape %}</p>
                      </div>
                      <div class="card-action">
                        <a >Fecha : {{ evento.fecha }}</a>
                        
                      </div>
                    </div>
                  </div>
                   
                  {% endfor %}
        {% else %}
          <div style="height: 300px; margin-top: 150px; ">
            <h1 class="center-align" style="color: #ccc;">No hay eventos</h1>
          </div>
        {% endif%}

  </div>
</div>
      

{% endblock %}

{% block extrajs %}

{% endblock %}
