{% extends "base.html" %}

{% load staticfiles %}

    
{% block extracss %}
	<link rel="stylesheet" type="text/css" href="{% static "css/robot.css"%}">
	<!-- Grid CSS File (only needed for demo page) -->
	<style>
	h1{
		font-family: sans-serif;color: #F4F7F9;font-size: 47px;
      	text-align: center;
      	background-color: rgb(0, 67, 122);
      	padding: 10px;
	}
	#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
	}
	.image{
		position: relative;

	}

	.title{
		position: absolute;
		color: #fff;	
		bottom: 80px; 
		left: 5px; 
		width: 100%; 
	}
	.date{
		position: absolute;
		color: #fff;
		bottom: 60px;
		left: 5px;
	}
	.hours{
		position: absolute;
		color: #fff;
		bottom: 40px;
		left: 5px;
	}
	#columns {
		-webkit-column-count: 4;
		-webkit-column-gap: 10px;
		-webkit-column-fill: auto;
		-moz-column-count: 4;
		-moz-column-gap: 10px;
		-moz-column-fill: auto;
		column-count: 4;
		column-gap: 15px;
		column-fill: auto;
	}

	.pin {
		
		display: inline-block;
		background: #FEFEFE;
		border: 2px solid #FAFAFA;
		box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
		margin: 0 2px 15px;
		-webkit-column-break-inside: avoid;
		-moz-column-break-inside: avoid;
		column-break-inside: avoid;
		padding: 15px;
		padding-bottom: 5px;
		background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
		opacity: 1;
		
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
	}

	.pin img {
		width: 100%;
		border-bottom: 1px solid #ccc;
		padding-bottom: 15px;
		margin-bottom: 5px;
	}

	.pin p {
		font: 12px/18px Arial, sans-serif;
		color: #333;
		margin: 0;
	}

	@media (min-width: 960px) {
		#columns {
			-webkit-column-count: 4;
			-moz-column-count: 4;
			column-count: 4;
		}
	}

	@media (min-width: 1100px) {
		#columns {
			-webkit-column-count: 3;
			-moz-column-count: 3;
			column-count: 3;
		}
	}

/*#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}*/
</style>


	
	


	
{% endblock %}

{% block content %}

<h1>Eventos</h1> 
{% if eventos %}
		<div id="wrapper">
			<div id="columns">
				{% for evento in eventos %}
				<div class="pin">
					<div class="image">
						<img src="{{ evento.imagen.url }}" />
						<h2 class="title flow-text">{{ evento.titulo}}</h2>
					<!-- 	<span class="date">Fecha: {{ evento.fecha }}</span>
						<span class="hours">Hora: {{ evento.hora }}</span> -->
					</div>
					
						
					<p>
						{{ evento.descripcion}}
					</p>
				</div>
				{% endfor %}
				
			</div>
		</div>
{% else %}    
	<div style="height: 300px; margin-top: 150px; ">
		<h2 class="center-align" style="color: #ccc;">No hay eventos</h2>
	</div>

{% endif%}
{% endblock %}

{% block extrajs %}
{% endblock %}
