{% extends "base.html" %}

{% load staticfiles %}

    
{% block extracss %}
	<link rel="stylesheet" type="text/css" href="{% static "css/robot.css"%}">
	<!-- Grid CSS File (only needed for demo page) -->

	<link rel="stylesheet" type="text/css" href="{% static "css/calendar.css"%}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/custom_1.css"%}" />
	<link rel="stylesheet" href="{% static "css/demo.css"%}">
	
	


	
{% endblock %}

{% block content %}
 
 	<!-- <section style="background-color: #ccc;height:100%;">
 		<div class="container">
	 		<div class="row">
	 			<div class="col s8">
	 				<h1>
				 			<span id="custom-month"></span>
							<span id="custom-year" ></span>
			 		</h1>
	 			</div>
	 			<div class="col s4">
	 				<nav>
							<span id="custom-prev" class="custom-prev">dfd</span>
							<span id="custom-next" class="custom-next">dsf</span>
							<span id="custom-current" class="custom-current" title="Got to current date"></span>
						</nav>
	 			</div>
	 		</div>	
 		</div>
 		
					
	 	<div class="container" style="margin-top: 0px !important;">
	 		<div class="row">
	 				
		 			

					<div id="calendar"></div>
	 			
	 			
	 			
	 			
					
					
			</div>
					
		</div>			
	 	
 	</section> -->
 	
 	<div class="container">	
			<!-- Codrops top bar -->
			<!-- <div class="codrops-top clearfix">
				<a href="http://tympanus.net/Development/Stapel/"><strong>&laquo; Previous Demo: </strong>Adaptive Thumbnail Pile Effect</a>
				<span class="right">
					<a href="http://tympanus.net/codrops/?p=12416"><strong>Back to the Codrops Article</strong></a>
				</span>
			</div><!--/ Codrops top bar --> 
			<h2 id="custom-month" > </h2>
			<h2 id="custom-year"></h2>
			<span id="custom-prev" class="custom-prev">HOL</span>
			<span id="custom-next" class="custom-next">HOL</span>
			<div class="custom-calendar-wrap custom-calendar-full">
				<!-- <div class="custom-header clearfix">
					<h2>Flexible Calendar <span><span>Demo 1</span> | <a href="index2.html">Demo 2</a></span></h2>
					<h3 class="custom-month-year">
						<span id="custom-month" class="custom-month"></span>
						<span id="custom-year" class="custom-year"></span>
						<nav>
							<span id="custom-prev" class="custom-prev"></span>
							<span id="custom-next" class="custom-next"></span>
							<span id="custom-current" class="custom-current" title="Got to current date"></span>
						</nav>
					</h3>
				</div> -->
				<div id="calendar" class="fc-calendar-container"></div>
			</div>
		</div><!-- /container -->
 

    
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static "js/jquery.calendario.js"%}"></script>
<script type="text/javascript" src="{% static "js/data.js"%}"></script>
<script type="text/javascript">	
			$(function() {
			
				var cal = $( '#calendar' ).calendario( {
						onDayClick : function( $el, $contentEl, dateProperties ) {

							for( var key in dateProperties ) {
								console.log( key + ' = ' + dateProperties[ key ] );
							}

						},
						caldata : codropsEvents
					} ),
					$month = $( '#custom-month' ).html( cal.getMonthName() ),
					$year = $( '#custom-year' ).html( cal.getYear() );

				$( '#custom-next' ).on( 'click', function() {
					cal.gotoNextMonth( updateMonthYear );
				} );
				$( '#custom-prev' ).on( 'click', function() {
					cal.gotoPreviousMonth( updateMonthYear );
				} );
				$( '#custom-current' ).on( 'click', function() {
					cal.gotoNow( updateMonthYear );
				} );

				function updateMonthYear() {				
					$month.html( cal.getMonthName() );
					$year.html( cal.getYear() );
				}

				// you can also add more data later on. As an example:
				/*
				someElement.on( 'click', function() {
					
					cal.setData( {
						'03-01-2013' : '<a href="#">testing</a>',
						'03-10-2013' : '<a href="#">testing</a>',
						'03-12-2013' : '<a href="#">testing</a>'
					} );
					// goes to a specific month/year
					cal.goto( 3, 2013, updateMonthYear );

				} );
				*/
			
			});
		</script>

{% endblock %}
