{% extends "base.html" %}

{% load staticfiles %}

{% block extracss %}
{% endblock %}

{% block content %}

    <div class="parallax-container">
    <div class="parallax">
      <div class="slider" style="ma">
        <ul class="slides">
          <li>
            <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="section">
    
      <div id="mission">
        <div class="row container">
          <div class="col s6">
          
              <h2 class="header flow-text" style="font-size:40px;">Misión</h2>
              <p class="grey-text text-darken-3 lighten-3 flow-text" style="color: #999 !important" >{% autoescape off %}{{ data.mision }} {% endautoescape %} </p>
          </div>
          <div class="col s6">  
            <img id="logoFisica"src="img/logo.png">
          </div>
        </div>
    
      </div>
    <div id="vision">
      
      <div class="row container">
        <div class="col s6">
          <div style="background-color: #3e3b66;
          background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #3e3b66), color-stop(100%, #000000));
          background-image: -webkit-radial-gradient(center, ellipse cover, #FDFEFE 0%, #F0F2F4 100%);
          background-image: -moz-radial-gradient(center, ellipse cover, #3e3b66 0%, #000000 100%);
          background-image: -o-radial-gradient(center, ellipse cover, #3e3b66 0%, #000000 100%);
          background-image: radial-gradient(center, ellipse cover, #3e3b66 0%, #000000 100%);position: relative;height: 500px;width: 100%;">

        <atom><div class="center"></div><div class="atomo1"><div></div></div><div class="atomo2"><div></div></div><div class="atomo3"><div></div></div></atom></div>
          
        </div>
        <div class="col s6 ">
          <h2 class="header flow-text" style="font-size:40px;">Visión</h2>
            <p class="grey-text text-darken-3 lighten-3 flow-text" style="color: #999 !important">{% autoescape off %}{{ data.vision }} {% endautoescape %}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://lorempixel.com/580/250/nature/2"></div>
  </div>
      	
 
      
{% endblock %}

{% block extrajs %}

{% endblock %}
