{% extends "base.html" %}

{% load staticfiles %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static "css/robot.css"%}">
<style>
	.collection{
		box-shadow: 2px 3px 2px #ccc;
	}
	

</style>

{% endblock %}
	
{% block content %}

	
	<div class="col hide-on-small-only left" style="position:fixed; margin-left: 20px;" >
			      <ul class="section table-of-contents">
              {% for laboratorio in laboratorios %}
			         <li><a href="#{{forloop.counter}}">{{laboratorio.titulo}}</a></li>
              {% endfor %}
			 
			      </ul>
	</div>

<div >
	<div class="container">
	<div class="row">
		
    	<div class="col s12 m11 offset-m1">
        {% for laboratorio in laboratorios %}
		      <div id="{{forloop.counter}}" class="section scrollspy">
		      <div class="card large">
              <div class="card-image">
                <img src="{{ laboratorio.imagen.url }}">
                <span class="card-title" style="  width: 100%;
  				background-color: rgba(6, 6, 6, 0.42);"><strong>{{ laboratorio.titulo}}</strong></span>
              </div>
              <div class="card-content" style="text-align: justify;">
                <p>{% autoescape off %}{{ laboratorio.informacion }}{% endautoescape %}</p>
              </div>
              
            </div>

		      </div>
        {% endfor %}
		     

	    </div>
        
	</div>
    	 
    
    

</div>
</div>
      
{% endblock %}

{% block extrajs %}
<script>
	  $(document).ready(function(){
    		$('.scrollspy').scrollSpy();
  		});
     
</script>
{% endblock %}
