{% extends "base.html" %}

{% load staticfiles %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static "css/robot.css"%}">
<style>
	.collection{
		box-shadow: 2px 3px 2px #ccc;
	}
	

</style>

{% endblock %}
	
{% block content %}

	
	<div class="col hide-on-small-only left" style="position:fixed; margin-left: 20px;" >
			      <ul class="section table-of-contents">
			        <li><a href="#mechanics">Laboratorio de Fisica Mecanica</a></li>
			        <li><a href="#hot">Laboratorio de Calor & Ondas</a></li>
			        <li><a href="#optical">Laboratorio de Óptica</a></li>
			        <li><a href="#electricity">Laboratorio de Electricidad</a></li>
			      </ul>
	</div>

<div >
	<div class="container">
	<div class="row">
		
    	<div class="col s12 m11 offset-m1">
		      <div id="mechanics" class="section scrollspy">
		      <div class="card large">
              <div class="card-image">
                <img src="{% static "img/meca.jpg"%}">
                <span class="card-title" style="  width: 100%;
  				background-color: rgba(6, 6, 6, 0.42);"><strong>Laboratorio de Fisica Mecanica</strong></span>
              </div>
              <div class="card-content" style="text-align: justify;">
                <p>Soy una tarjeta muy simple. Soy buena mostrando pequeños trozos de información. Soy conveniente porque requiero pocas etiquetas para usarme efectivamente. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              
            </div>

		      </div>

		      <div id="hot" class="section scrollspy">
		        <div class="card large">
              <div class="card-image">
                <img src="{% static "img/calor.jpeg"%}">
                <span class="card-title" style="  width: 100%;
  				background-color: rgba(6, 6, 6, 0.42);"><strong>Laboratorio de Calor y Ondas</strong></span>
              </div>
              <div class="card-content" style="text-align: justify;">
                <p>Soy una tarjeta muy simple. Soy buena mostrando pequeños trozos de información. Soy conveniente porque requiero pocas etiquetas para usarme efectivamente. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              
            </div>

		      </div>

		      <div id="optical" class="section scrollspy">
		          <div class="card large">
              <div class="card-image">
                <img src="{% static "img/calor.jpeg"%}">
                <span class="card-title" style="  width: 100%;
  				background-color: rgba(6, 6, 6, 0.42);"><strong> Laboratorio de Optica</strong></span>
              </div>
              <div class="card-content" style="text-align: justify;">
                <p>Soy una tarjeta muy simple. Soy buena mostrando pequeños trozos de información. Soy conveniente porque requiero pocas etiquetas para usarme efectivamente. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              
            </div>

		      </div>
		      <div id="electricity" class="section scrollspy">
		          <div class="card large">
              <div class="card-image">
                <img src="{% static "img/calor.jpeg"%}">
                <span class="card-title" style="  width: 100%;
  				background-color: rgba(6, 6, 6, 0.42);"><strong> Laboratorio de Electricidad y Magnestismo</strong></span>
              </div>
              <div class="card-content" style="text-align: justify;">
                <p>Soy una tarjeta muy simple. Soy buena mostrando pequeños trozos de información. Soy conveniente porque requiero pocas etiquetas para usarme efectivamente. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              
            </div>

		      </div>
	    </div>
	</div>
    	
    
    

</div>
</div>
      
{% endblock %}

{% block extrajs %}
<script>
	  $(document).ready(function(){
    		$('.scrollspy').scrollSpy();
  		});
     
</script>
{% endblock %}
