{% extends "base.html" %}

{% load staticfiles %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static "css/robot.css"%}">


{% endblock %}

{% block content %}
<div class="container">
	 <div class="row" style="margin-top: 20px;">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a href="#test1">Fisica Mecánica</a></li>
          <li class="tab col s3"><a class="active" href="#test2">Electricidad y Magnetismo</a></li>
          <li class="tab col s3"><a href="#test3">Calor y Ondas</a></li>
        </ul>
      </div>
      
    </div>
 <div class="row">
        <div class="col s12 m7">
          <ul class="collection with-header">
            {% for material in materiales_electricidad %}
              <li class="collection-item">{{material.titulo}}</li>
              <li class="collection-item">{% autoescape off %} {{ material.descripcion}} {% endautoescape %}</li>
              <li class="collection-item">{{material.arichivo}}</li>
              <li class="collection-item">{{material.tipo}}</li>
              <li class="collection-item">{{material.curso}}</li>
            {% endfor %}
            
          </ul>
        </div>
      </div>	
</div>
      
{% endblock %}

{% block extrajs %}

{% endblock %}
