{% extends "base.html" %}

{% load staticfiles %}

    
{% block extracss %}
  <link rel="stylesheet" type="text/css" href="{% static "css/robot.css"%}"> 
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">



    {% if  noticias %}
          
      <section id="pinBoot" style="margin-top: 20px;">
      {% for noticia in noticias %}
          <article class="white-panel"><img  id="img" src="{{ noticia.imagen.url }}" alt="">
            <h4>{{ noticia.titulo}}</h4>
            <span>{{ noticia.created}}</span>
            <p>{% autoescape off %} {{ noticia.informacion }}{% endautoescape %}</p>
          </article>
      {% endfor %}


      </section>
    {% else %}    
    <div style="height: 300px; margin-top: 150px; ">
      <h2 class="center-align" style="color: #ccc;">No hay noticias</h2>
    </div>
  {% endif%}



    <hr>


  </div>
  

</div>



{% endblock %}

{% block extrajs %}
<script src="{% static "js/pinterest_grid.js"%}"></script>
<script>
  $(document).ready(function() {
    $('#pinBoot').pinterest_grid({
    no_columns: 4,
    padding_x: 10,
    padding_y: 10,
    margin_bottom: 50,
    single_column_breakpoint: 700
    });
  });
</script>

{% endblock %}
