{% extends "base.html" %}

{% load staticfiles %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static "css/robot.css"%}">


{% endblock %}

{% block content %}
<div class="row">
          <div class="col s12 m8">
            <h4 class="light"></h4>
            <div class="card large">
              <div class="card-image">
                <img src="images/sample-1.jpg">
                <span class="card-title">Título de la Tarjeta</span>
              </div>
              <div class="card-content">
                <p>Soy una tarjeta muy simple. Soy buena mostrando pequeños trozos de información. Soy conveniente porque requiero pocas etiquetas para usarme efectivamente.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <br><br>
            <p class="caption"> <h5>Ultimas Noticias</h5></p>
          </div>
        </div>
      
{% endblock %}

{% block extrajs %}

{% endblock %}
