{% extends "base.html" %}

{% load staticfiles %}

{% block extracss %}

{% endblock %}
{% block content %}

<div class="container" style="padding-top: 40px">
	<div class="row">
		<h2 style="font-family: sans-serif; color:#0E5690;font-size:47px;   text-align: center;">Nuestra Planta Docente</h2>
		<hr  align="left" style="  width: 100%; !important">
		{% for docente in docentes %}
			<div class="col s4" style="margin-top: 36px;margin-bottom:40px;" >
				<div class="col s4">
					<img src="{{docente.imagen.url}}" alt="#" class="circle" style="width: 80px;
  height: 80px;
  border: 3px solid rgb(233, 205, 173);">
					
				</div>
				<div class="col s8">	
					<span  class="black-text">{{ docente.nombre }}</span>
					<span  class="black-text"> {{ docente.correo }}</span>
					<span  class="black-text"> {{ docente.telefono }}</span>
				</div>
			</div>
		{% endfor %}
		
		<hr  align="left" style="  width: 100%; !important">
		
	</div>
</div>
{% endblock %}
{% block extrajs %}
{% endblock %}