{% extends "base.html" %}

{% load staticfiles %}

{% block extracss %}

{% endblock %}
{% block content %}

<div class="container" style="padding-top: 40px">
	<div class="row">
		<h3 >Planta docente</h3>
		<hr  align="left">
		<!-- {% for docente in docentes %}
			<div class="col s4">
				<div class="col s4">
					<img src="{% static "images/profesor.png"%}" alt="#" class="circle responsive-img">
					
				</div>
				<div class="col s8">	
					<span  class="black-text">{{ docente.nombre }}</span>
					<span  class="black-text"> {{ docente.correo }}</span>
					<span  class="black-text"> {{ docente.telefono }}</span>
				</div>
			</div>
		{% endfor %} -->
		<div class="col s6 m4" style="padding-top: 20px; padding-bottom:20px">
				<div class="col s4">
					<img src="{% static "images/profesor.png"%}" alt="#" class="circle materialboxed responsive-img">
					
				</div>
				<div class="col s8">	
					<span  class="black-text">Andres Vazques</span>
					<span  class="black-text"> andres@gmail.com</span>
					<span  class="black-text"> 0093403</span>
				</div>

		</div>
		
		<div class="col s6 m4" style="padding-top: 20px; padding-bottom:20px">
				<div class="col s4">
					<img src="{% static "images/profesor.png"%}" alt="#" class="circle materialboxed responsive-img">
					
				</div>
				<div class="col s8">	
					<span  class="black-text">Abner Chamorro</span>
					<span  class="black-text"> abachadi@gmail.com</span>
					<span  class="black-text"> 00986777</span>
				</div>
		</div>
		
		<div class="col s6 m4" style="padding-top: 20px; padding-bottom:20px">
				<div class="col s4">
					<img src="{% static "images/profesor.png"%}" alt="#" class="circle materialboxed responsive-img">
					
				</div>
				<div class="col s8">	
					<span  class="black-text">Cristhian Cotes</span>
					<span  class="black-text"> elseñorCotes@gmail.com</span>
					<span  class="black-text"> 3443254</span>
				</div>
		</div>
		
		<div class="col s6 m4" style="padding-top: 20px; padding-bottom:20px">
				<div class="col s4">
					<img src="{% static "images/profesor.png"%}" alt="#" class="circle materialboxed responsive-img">
					
				</div>
				<div class="col s8">	
					<span  class="black-text">Cristhian Cotes</span>
					<span  class="black-text"> elseñorCotes@gmail.com</span>
					<span  class="black-text"> 3443254</span>
				</div>
		</div>
		<div class="col s6 m4" style="padding-top: 20px; padding-bottom:20px">
				<div class="col s4">
					<img src="{% static "images/profesor.png"%}" alt="#" class="circle materialboxed responsive-img">
					
				</div>
				<div class="col s8">	
					<span  class="black-text">Cristhian Cotes</span>
					<span  class="black-text"> elseñorCotes@gmail.com</span>
					<span  class="black-text"> 3443254</span>
				</div>
		</div>
		<div class="col s6 m4" style="padding-top: 20px; padding-bottom:20px">
				<div class="col s4">
					<img src="{% static "images/profesor.png"%}" alt="#" class="circle materialboxed responsive-img">
					
				</div>
				<div class="col s8">	
					<span  class="black-text">Cristhian Cotes</span>
					<span  class="black-text"> elseñorCotes@gmail.com</span>
					<span  class="black-text"> 3443254</span>
				</div>
		</div>
		<div class="col s6 m4" style="padding-top: 20px; padding-bottom:20px">
				<div class="col s4">
					<img src="{% static "images/profesor.png"%}" alt="#" class="circle materialboxed responsive-img">
					
				</div>
				<div class="col s8">	
					<span  class="black-text">Cristhian Cotes</span>
					<span  class="black-text"> elseñorCotes@gmail.com</span>
					<span  class="black-text"> 3443254</span>
				</div>
		</div>
		<div class="col s6 m4" style="padding-top: 20px; padding-bottom:20px">
				<div class="col s4">
					<img src="{% static "images/profesor.png"%}" alt="#" class="circle materialboxed responsive-img">
					
				</div>
				<div class="col s8">	
					<span  class="black-text">Cristhian Cotes</span>
					<span  class="black-text"> elseñorCotes@gmail.com</span>
					<span  class="black-text"> 3443254</span>
				</div>
		</div>
		<div class="col s6 m4" style="padding-top: 20px; padding-bottom:20px">
				<div class="col s4">
					<img src="{% static "images/profesor.png"%}" alt="#" class="circle materialboxed responsive-img">
					
				</div>
				<div class="col s8">	
					<span  class="black-text">Cristhian Cotes</span>
					<span  class="black-text"> elseñorCotes@gmail.com</span>
					<span  class="black-text"> 3443254</span>
				</div>
		</div>
		
	</div>
</div>
{% endblock %}
{% block extrajs %}
{% endblock %}